{% extends 'base.html.twig' %}

{% block body %}
    {% include 'Admin/toolbar.html.twig' %}
    <div class="admin__header">
        <h1>Kategorie</h1>
        <a class="button" href="{{ path('admin_categories_new') }}">{{ getText('admin_add_new') }}</a>
    </div>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Slug</th>
            <th>Akcje</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    {#temporary#}
                    <button class="button">{{ getText('admin_delete') }}</button>
                    <button class="button">{{ getText('admin_edit') }}</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
