{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin__header">
        <h1>Wykonawcy</h1>
        <a class="button" href="{{ path('admin_performers_new') }}">{{ getText('admin_add_new') }}</a>
        {% include 'Admin/toolbar.html.twig' %}
    </div>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
        {% for performer in performers %}
            <tr>
                <td>{{ performer.name }}</td>
                <td>
                    <button class="button">{{ getText('admin_delete') }}</button>
                    <button class="button">{{ getText('admin_edit') }}</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
